<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mis Recetas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <header>
        <h1>Mis Recetas Favoritas</h1>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Mi Recetario Digital</p>
    </footer>
    <script>
        feather.replace()
    </script>
</body>
</html>
